/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 21, 14, 7:13:10 PM
    Author     : OJT
*/

* {
    transition: all 0.3s ease;
}

img.img-responsive {
    width: 60%;
}
img.mobile-logo {
    width: 12%;
    display: none;
}

/* The navigation group
*/
.main-navigation {
    padding-top: 64px;
}

/* The heading hero
*/
.heading-hero {
    background-color: #000;
    box-sizing: border-box;
}



@media screen and (max-width: 1199px) {
    img.img-responsive {
        width: 20%;
    }
    .main-navigation {
        padding-top: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 979px) {
    img.desktop-logo {
        display: none;
    }
    img.mobile-logo {
        display: block;
        min-width: 200px;
    }
    button[type="button"].btn-navbar {
        padding: 5%px;
    }
}

@media screen and (max-width: 562px) {
    .heading-hero {
        padding: 20px 5%;
        font-size: 87.5%;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }
}