/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 21, 14, 7:13:10 PM
    Author     : OJT
*/

* {
    transition: all 0.3s ease;
}

img.img-responsive {
    width: 60%;
}
img.mobile-logo {
    width: 12%;
    display: none;
}

/* The navigation group
*/
.main-navigation {
    padding-top: 50px;
}
.main-navigation 

div.heading-hero {
    background: #000;
}



@media screen and (max-width: 1199px) {
    img.img-responsive {
        width: 30%;
    }
    .main-navigation {
        padding-top: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 979px) {
    img.desktop-logo {
        display: none;
    }
    img.mobile-logo {
        display: block;
        min-width: 80px;
    }
    button[type="button"].btn-navbar {
        padding: 5%px;
    }
}