/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 24, 14, 12:41:25 AM
    Author     : OJT
*/

.orange-color {
    color: #f77f00;
}

.white-color {
    color: #fff;
}

.gray-background {
    background-color: #a5a5a5;
}

.padding-5b10 {
    padding: 5px 15px;
}

.section-header {
    
}

.section-title {
    color: #ff7f00;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
}

.section-title-line {
    background: url(../images/line-ff7f00.png) no-repeat left center / cover;
    content: none;
}