/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 24, 14, 12:40:41 AM
    Author     : OJT
*/


.testimonial {
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.testimonial-header {
    
}
.testimonial-header-provider {
    
}
.testimonial-header-rating {
    text-align: right;
}
.testimonial-body {
    
}
.testimonial-body-message {
    box-sizing: border-box;
    padding: 5%;
    text-align: left;
}
.testimonial-body-author {
    box-sizing: border-box;
    font-style: italic;
    padding-right: 10px;
    text-align: right;
}
.testimonial-footer {
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 1% 2%;
    text-align: right;
}
.testimonial-footer a {
    color: #fff;
}